tgcrypto
pytz
psutil
motor
aiofiles==24.1.0
aiohttp==3.10.0
dnspython
GitPython
pykeyboard
bs4
Pillow==9.5.0
pymediainfo
opencv-python-headless
requests
unidecode
pytimeparse
attrify
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
httpx[http2]==0.27.2
pyromod==1.5
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
heroku3
uvloop
py-tgcalls==2.0.2
ntgcalls==1.2.1
tornado
git+https://github.com/naya1503/mypyrogram@dev
